<% if @venue %>
  <div class="container">
    <h1><%= @venue.name.titlecase %> Dashboard</h1>
    <%= render 'dashboard/venue/menu_bar' %>
      <div id="content">
      <%= render 'dashboard/venue/gigs_list' %>
      <%= render 'dashboard/venue/setlist_planning' %>
      </div>
  </div>
<% else %>
  <h2> No Venue! </h2>
  <%= link_to "Add Venue", new_venue_path %>
<% end %>
