<div class="page-header">
  <h2>My Gigs</h2>
</div>

<% if @gigs %>
  <% @gigs.each do |gig| %>
    <div class="well">
      <p><%= gig.date %></p>
      <p><%= gig.event %>: $<%= gig.price %></p>
      <p><%= gig.band %></p>
      <p><%= gig.age %> | <%= gig.doors %> / <%= gig.showtime %></p>
      <p><%= gig.description %></p>
      <hr />
      <%= link_to time_ago_in_words(gig.created_at), gig_path(gig) %> ago
    </div>
  <% end %>
<% end %>
