<p><h4><span class="red"><%= gig.date %></span>&nbsp&nbsp<%= gig.event %>: <span class="green">$<%= gig.price %></span></h4></p>
<p><h5><%= gig.age %> | Doors: <%= gig.doors %> | Show: <%= gig.showtime %></h5></p>
<p></p>
<div class="meta">
  <%= link_to time_ago_in_words(gig.created_at) + " ago", venue_gig_path(venue, gig) %>
  <span class="admin">
    <% if user_signed_in? %>
      | <%= link_to 'Edit', edit_venue_gig_path(gig) %> |
      <%= link_to 'Delete', venue_gig_path(venue, gig), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </span>
</div>
