<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading giglets">
      <h4 class="panel-title"><%= link_to gig.event, venue_gig_path(gig.venue.id, gig) %></h4>
      <p><%= gig.date %></p>
        <% if @venue %>
          <%= link_to edit_venue_gig_path(@venue, gig) do %>
               <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit Gig"></span>
          <% end %>
          <% unless gig.is_final? %>
            <%= link_to finalize_path(params: {id: gig.id}), method: :patch do %>
                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="Finalize Gig"></span>
            <% end %>
          <% end %>
        <% elsif current_band %>
          <span><%= gig.venue.name %></span>
          <% if current_band.gigs.include?(gig) %>
            <%= link_to band_cancel_app_path(current_band, params: {gig_id: gig.id}), method: :patch, class: "btn btn-xs btn-danger" do %>
              <span class="glyphicon glyphicon-ban-circle" data-toggle="tooltip" data-placement="top" title="Cancel Application"></span>
            <% end %>
          <% else %>
            <%= link_to band_app_path(current_band, params: {gig_id: gig.id}), method: :patch, class: "btn btn-xs btn-success" do %>
              <span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="top" title="Apply to Play"></span>
            <% end %>
          <% end %>
          <% if !gig.is_final? %>
            <span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Pending Gig"></span>
          <% else %>
            <span class="glyphicon glyphicon-ok-sign" data-toggle="tooltip" data-placement="top" title="Finalized Gig"></span>
          <% end %>
        <% end %>
    </div>
    <div class="panel-body giglet-body" style="display:none">
      <ul class="list-group">
          <%= render "shared/setlist.html.erb", gig: gig %>
      </ul>
    </div>
  </div>
</div>
