<p><h4><span class="red"><%= gig.date %></span>&nbsp&nbsp<%= gig.event.titlecase %>: <span class="green">$<%= gig.price %></span></h4></p>
<p><h5><%= gig.age %> | Doors: <%= gig.doors %> | Show: <%= gig.showtime %></h5></p>
<p></p>
<div class="meta">
  <%= link_to time_ago_in_words(gig.created_at) + " ago", venue_gig_path(venue, gig) %>
</div>
