<p id="notice"><%= notice %></p>
<br>
<ul>
  <b>Name:</b>
  <li><%= @venue.name %></li>
  <li><%= @venue.description %></li>
  <li><%= @venue.address %></li>
  <li><%= @venue.city %></li>
  <li><%= @venue.state %></li>
  <li><%= @venue.zip %></li>
  <li><%= @venue.phone %></li>
  <li><%= @venue.email %></li>
  <li><%= @venue.twitter %></li>
  <li><%= @venue.facebook %></li>
  <li><%= @venue.instagram %></li>
</ul>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<% else %>
<%= link_to 'Back', venue_path %>
<% end %>
