<%= simple_form_for @band do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :genre %>
  <%= f.input :description %>
  <%= f.input :city %>
  <%= f.input :zip %>
  <%= f.input :twitter %>
  <%= f.input :instagram %>
  <%= f.input :facebook %>
  <%= f.input :soundcloud %>
  <%= f.input :last_fm %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
