<% @venue.timeslots.upcoming.pending.each do |timeslot| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><%= timeslot.gig.event %></h4>
        <p><%= timeslot.date %></p>
          <%= link_to edit_venue_timeslot_path(@venue, timeslot) do %>
               <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit Gig"></span>
          <% end %>
          <%= link_to finalize_path(params: {id: timeslot.id}), method: :patch do %>
              <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="Finalize Gig"></span>
          <% end %>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <%= render "shared/setlist.html.erb", gig: timeslot.gig %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
