<%= simple_form_for [@venue, @gig] do |f| %>
  <% if @gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% @gig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :event, label: "Event Name" %>
  <%= f.input :date, :as => :date_picker, label: "Event Date" %>
  <%= f.input :doors, :as => :time_picker, label: "Doors Open" %>
  <%= f.input :showtime, :as => :time_picker, label: "Showtime", input_html: {data: {date_options: {stepping: 15}}} %>
  <%= f.input :description %>
  <%= f.input :openings, label: "Band Openings" %>
  <%= f.input :paid_gig, wrapper_html: { id: "paid-gig" } %>
  <%= f.input :pay_amount, wrapper: :vertical_input_group, wrapper_html: { id: 'gig-pay-amount', style: 'display: none' } do %>
    <span class="input-group-addon">$</span>
    <%= f.input_field :pay_amount, class: "form-control" %>
  <% end %>
  <%= f.input :price, label: "Ticket Price" %>
  <%= f.input :notes %>
  <%= f.input :age,
  :as => :grouped_select,
  :collection => [['Minimum Age', ['All Ages','18+', '21+']]],
  :group_method => :last %>
  <%= f.input :hired_bands, label: "Bands", as: :select, collection: @gig.band_options, input_html: { multiple: true, id: "band-multi-select"} %>
  <%= f.input :is_final, label: "Finalize Gig?", as: :boolean %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
