<p id="notice"><%= notice %></p>
<br>
<p>
  <b>Venue:</b>
  <%= @venue.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @gig.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @gig.date %>
</p>

<p>
  <strong>Band(s):</strong>
  <ul>
    <% @gig.bands.each do |band| %>
      <li><%= band.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Doors:</strong>
  <%= @gig.doors %>
</p>

<p>
  <strong>Showtime:</strong>
  <%= @gig.showtime %>
</p>

<p>
  <strong>Age:</strong>
  <%= @gig.age %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gig.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gig.description %>
</p>

<p>
  <b>Openings:</b>
  <%= @gig.openings %>
</p>

<p>
  <b>Pay Amount:</b>
  <%= @gig.pay_amount %>
</p>

<p>
  <b>Paid Gig:</b>
  <%= @gig.paid_gig %>
</p>

<p>
  <b>Notes:</b>
  <%= @gig.notes %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_venue_gig_path(@gig) %> |
<% else %>
<%= link_to 'Back', venue_gigs_path %>
<% end %>
