<%= simple_form_for [@venue, @timeslot] do |f| %>
  <% if @timeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
      <% @timeslot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date, :as => :date_picker, label: "Event Date" %>
  <%= f.input :doors, :as => :time_picker, label: "Doors Open" %>
  <%= f.input :start_time, :as => :time_picker, label: "Showtime", input_html: {data: {date_options: {stepping: 15}}} %>
  <%= f.input :openings, label: "Band Openings" %>
  <%= f.input :paid_gig %>
  <%= f.input :pay_amount, wrapper: :vertical_input_group, wrapper_html: { id: 'timeslot_pay_amount', style: 'display: none' } do %>
    <span class="input-group-addon">$</span>
    <%= f.input_field :pay_amount, class: "form-control" %>
  <% end %>
  <%= f.input :notes %>
  <%= f.simple_fields_for :gig do |builder| %>
    <%= render 'gig_fields', f: builder %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
