<%= simple_form_for [@venue, @timeslot] do |f| %>
  <% if @timeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
      <% @timeslot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :openings %>
  <%= f.input :pay_amount %>
  <%= f.input :paid_gig %>
  <%= f.input :notes %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
