<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag '/img/favicon-128.ico' %>
  <title>championing dreams, one gig at a time, gigitt.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="keywords" content="Gigitt, music, bands, venues, promoters, book shows, book gigs" />
  <meta name="description" content="Gigitt.com The crowd pleaser! A place for fans venues and musicians. Coming together to create a perfect event. Let your voice be heard." />
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="pull-left"><img style="height: 50px; padding-top: 5px;" img src="/img/logoMonster.png"></a>
        <ul class="nav">
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Gigs", gigs_path %></li>
            <li><%= link_to "Dashboard", current_user.profile %></li>
            <li><%= link_to current_user.profile, edit_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Register", register_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |type, message| %>

    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    </div>
</body>
</html>
